[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1"
dj-database-url = "*"
"psycopg2" = "*"
uwsgi = "*"
celery = "*"
django-extensions = "*"

[dev-packages]
